*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.col{
    flex-basis: 30%;
    margin: 10px;
}

.col img{
    width: 100%;
    height: 300px;
    margin: 5px;
}

.title{
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
}
.live{
    color: red;
    font-size: 20px;
}
.sub-title{
    color: brown;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.divider{
    margin-left: 200px;
    margin-right: 200px;
    background-color: green;
    margin-bottom: 50px;
    padding-bottom: 2px;
}
.form{
    margin-left: 40px;
    margin-bottom: 50px;
} 
.search{
   margin-right: 10px;
   height: 30px;
   outline: none;
   width: 300px;
   border: 1px solid black;
   padding: 20px;
}


@media (max-width:700px){
    .col{
        flex-basis: 100%;
    }
    .col img{
        width: 100%;
    }
}